<h2 class="page-header">
    Recently Added Books
</h2>
<div class="books">
    <% books.map(book => { %>
        <div class="book-card">
            <a href="/books/<%= book._id %>">
                <img height="350px" width="300px" src="<%= book.coverImagePath %>" alt="book cover">
            </a>
            <h2><%= book.title %></h2>
        </div>
    <%}) %>
</div>