<label for="name">Name</label>
<input type="text" name="name" id="name"><%= author.name%>

<label for="dob">Date of Birth</label>
<input type="date" name="dob" id="dob"><%= author.dob%>

<label for="nationality">Nationality</label>
<input type="text" name="nationality" id="nationality"><%= author.nationality%>