<h2 class="page-header">Edit Author</h2>
<form class="add-author__form" action="/authors/<%= author._id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %><!-- This is the line that includes the form fields -->
    <a class="btn btn-cancel" href="/authors/<%= author._id%>">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
</form>